# Rust
target/
**/*.rs.bk

# Node
node_modules/
dist/
.svelte-kit/

# System
.DS_Store

# IDE
.vscode/
.idea/

# Database / Local Info
.env
*.db
*.db-shm
*.db-wal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
